* {
    
}

.main {
    
}

#header {
    text-align: center;
}

button {
    display: block;
    width: 100px;
    margin: 10px;
}

#questions {
    display: none;
}


#start {
    margin: auto;
}

#name {
    display: block;
    text-align: center;
    margin: auto;
}

#submit {
    display: none;
}

